* {
    font-family: Helvetica;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #202830;
    color: #FFF
}

a {
    text-decoration: none;
    color: #FFF;
    transition: 0.25s;
}

a:hover {
    color: #E9E9E9;
}