* {
    font-family: Helvetica;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to top, #14181C, #28313a 97%);
    background-attachment: fixed;
    min-height: 100vh;
    color: #FFF
}

a {
    text-decoration: none;
    color: #FFF;
    transition: 0.25s;
}

a:hover {
    color: #E9E9E9;
}