.backdrop {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.backdrop img {
    width: 80%;

    -webkit-mask-image:
        radial-gradient(ellipse 65% 90% at center, black 85%, transparent 95%),
        linear-gradient(to bottom, black 5%, transparent 90%),
        linear-gradient(to left, black 85%, transparent 100%),
        linear-gradient(to right, black 85%, transparent 100%);

    -webkit-mask-composite: intersect;

    mask-image:
        radial-gradient(ellipse 65% 90% at center, black 85%, transparent 95%),
        linear-gradient(to bottom, black 5%, transparent 90%),
        linear-gradient(to left, black 85%, transparent 100%),
        linear-gradient(to right, black 85%, transparent 100%);

    mask-composite: intersect;
}




.container {
    display: flex;
    position: absolute;
    gap: 10em;
    top: 90%;
    left: 50%;
    transform: translateX(-50%);
}

.poster {
    max-width: 15em;
    border: 1.5px solid #2F3D48;
    border-radius: 0.3em;
}

.details {
    flex-direction: column;
    width: 50em;
}

.info {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.info p {
    margin-left: 1em;
}