.backdrop {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.backdrop img {
    width: 70%;
}

.container {
    display: flex;
    position: absolute;
    gap: 10em;
    top: 90%;
    left: 50%;
    transform: translateX(-50%);
}

.poster {
    max-width: 15em;
    border: 1.5px solid #2F3D48;
    border-radius: 0.3em;
}

.details {
    flex-direction: column;
    width: 50em;
}

.info {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.info p {
    margin-left: 1em;
}