/* .container {
    display: flex;
    flex-direction: column;
}

.container hr {
    width: 100%;
    color: #445566;
}

.results {
    
} */

/*
- ver pq quando nao vem o poster, o espaçamento fica diferente de quando vem
- ajeitar o css da tela de pesquisa
- ver pq o alt text fica sobresaindo no card de quando nao vem o poster
*/