.container {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.crew_container {
    display: grid;
    grid-template-columns: 200px 1fr;
    /* grid-template-columns: max-content 1fr; */
    align-items: start;
    gap: 1em;
}