.loader_state {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000035;
    z-index: 9999;
}

.loader {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 8px solid #AABBCC;
    border-top-color: #FF8000;
    animation: spin 0.8s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}