.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #202830;
    box-shadow: 0px 5px 15px #00000063;
    height: 4em;
    z-index: 10;
}

.navbar a {
    display: flex;
    align-items: center;
    gap: 5px;          
}

.navbar img {
    margin-left: 0.2em;
    font-size: 1.5em;
}

.logo {
    width: 2em;
    transform: rotate(90deg);
}